name: "Catch2 - Tests"
# 100% this doesn't work but whatever, I don't give a swag
on: push

jobs:
  build-and-test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "dependencies"
        run: "sudo apt-get install -yq libreadline-dev"

      - name: "Checkout repo"
        uses: actions/checkout@v3

      - uses: lukka/get-cmake@latest
      - name: Dump the content of $RUNNER_TEMP
        run: find $RUNNER_TEMP
        shell: bash
      - name: Dump the content of $RUNNER_WORKSPACE
        run: find $RUNNER_WORKSPACE
        shell: bash

      - name: "Setup vcpkg"
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          # This specifies the location of vcpkg, where it is going to be restored from cache, or create from scratch.
          vcpkgDirectory: '${{ runner.workspace }}/b/vcpkg'
          # The Git commit id of vcpkg to be checked out. This is only needed because we are not using a submodule.
          vcpkgGitCommitId: '${{ matrix.vcpkgCommitId}}'
          # The vcpkg.json file, which will be part of cache key computation.
          vcpkgJsonGlob: '${{ github.workspace }}/vcpkg.json'

      - name: Prints output of run-vcpkg's action
        run: echo "root='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_ROOT_OUT }}', triplet='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_DEFAULT_TRIPLET_OUT }}'"

      - name : "CMake"
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: ${{github.workspace}}/CMakeLists.txt
          configurePreset: ninja-vcpkg
          buildPreset: ninja-vcpkg

      - name: "Test"
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure
